@{
    ViewBag.Title = "About";
}

<div class="bg_1 wrap_2 wrap_4">
    <div class="container">
        <div class="row">
            <div class="preffix_2 grid_8">
                <h2 class="header_1 wrap_3 color_3">
                    About Us...<br />

                </h2>
            </div>
        </div>
        <div class="row">
            <div class="grid_12">
                <div class="box_text">
                        <p class="text_index">
                            Deallus technologies is an IT based company which provides services in software, 
                            Mobile APP & Web Development.
                            Deallus technologies is established in 2017 by few dedicated professional engineers.
                        </p>
                       <p class="text_index">
                            At Deallus technologies, we work on variety of projects ranging from simple web site development 
                            to fully integrated database system & mobile applications. 
                        </p>
                        <p class="text_index"> 
                            We are specialized in <b> <i> Java, .Net, PHP, MySQL, Python, Node.js, Angular.js </i> </b> 
                            programming and work closely to make your idea become a reality.
                        </p>
                        <p class="text_index">                    
                            Our primary goal is to satisfy our customers by meeting their needs and specifications which is why 
                            most businesses count on us to get their projects done.
                        </p>
                        <p class="text_index">                   
                            We develop enterprise solutions that include software solutions, web solutions, 
                            mobile application solutions, Internet marketing and an extensive range of IT solutions and products, 
                            focusing on the client specifications all on an affordable range.
                        </p>
                        <p class="text_index">
                            By God's grace the growth rate has always been up and still moving upwards.
                            Our dedication to each job and to each client has made us come up to this level.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>