@{
    ViewBag.Title = "About";
}

<div class="bg_1 wrap_2 wrap_4">
    <div class="container">
        <div class="row">
            <div class="preffix_2 grid_8">
                <h2 class="header_1 wrap_3 color_3">
                    About Us...<br />

                </h2>
            </div>
        </div>
        <div class="row">
            <div class="grid_12">
                <div class="box_1">
                    <p class="text_index">
                        <p>
                            Deallus technologies is a IT based company which provides services in software, Mobile APP & Web Development.
                        </p>
                        <p>
                        Deallus technologies is established in 2017 by few dedicated professional engineers.
                        </p>
                       <p>
                        At Deallus technologies, we work on variety of projects ranging from simple web site development to fully integrated database system & mobile applications. 
                        </p><p> We are specialized in <b> Java, .Net, PHP, MySQL, Python, Node.js, Angular.js </b> programming and work closely to make your idea become a reality.</p>

                    APRG Technologies is one of India's best customized software and mobile app development companies. Our primary goal is to satisfy our customers by meeting their needs and specifications which is why most businesses count on us to get their projects done.

                    We providing offshore IT outsourcing solutions to businesses across the globe. The company develops enterprise solutions that include software solutions, web solutions, mobile application solutions, Internet marketing and an extensive range of IT solutions and products, focusing on the client specifications all on an affordable range.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>