
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Gst_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/gst_css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/gst_css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/gst_css/matrix-style.css" />
<link rel="stylesheet" href="~/Content/gst_css/matrix-media.css" />
<link rel="stylesheet" href="~/Content/gst_css/uniform.css" />
<link rel="stylesheet" href="~/Content/gst_css/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Dashboard", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#">Add Customer</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Details of Receiver</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="#" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Cutomer Name</label></td>
                                    <td><input type="text" name="pcode" id="required"></td>
                                    <td><label class="control-label">Address</label></td>
                                    <td> <textarea class="span11"></textarea></td>
                                    <td><label class="control-label">GSTIN</label></td>
                                    <td> <input type="text" name="pname" id="required"></td>                                    
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Vendor Code</label></td>
                                    <td><input type="text" name="phsn" id="required"></td>
                                    <td><label class="control-label">Select State</label></td>                                    
                                    <td>
                                        <div class="controls">
                                            <select>
                                                <option>First option</option>
                                                <option>Second option</option>
                                                <option>Third option</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <input type="checkbox" /> If details of Consignee are same then click checkbox</span>
                    <h5><span style="float:right">Details of Consignee (Shipped to)</span></h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="#" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Cutomer Name</label></td>
                                    <td><input type="text" name="pcode" id="required"></td>
                                    <td><label class="control-label">Address</label></td>
                                    <td> <textarea class="span11"></textarea></td>
                                    <td><label class="control-label">GSTIN</label></td>
                                    <td> <input type="text" name="pname" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Vendor Code</label></td>
                                    <td><input type="text" name="phsn" id="required"></td>
                                    <td><label class="control-label">Select State</label></td>
                                    <td>
                                        <div class="controls">
                                            <select>
                                                <option>First option</option>
                                                <option>Second option</option>
                                                <option>Third option</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="widget-box" align="center">
                <input type="reset" value="Reset" class="btn btn-success">
                <input type="submit" value="Save" class="btn btn-success">
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>All Customers</h5> <span style="float:right"><button class="btn btn-danger">Multiple Delete</button></span>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table with-check">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                                <th>Customer Name</th>
                                <th>Address</th>
                                <th>State</th>
                                <th>GSTIN</th>
                                <th>Vendor Code</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeX">
                                <td><input type="checkbox" /></td>
                                <td>Trident</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>Win 95+</td>
                                <td class="center">4</td>
                                <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                            </tr>
                            <tr class="gradeC">
                                <td><input type="checkbox" /></td>
                                <td>Trident</td>
                                <td>
                                    Internet
                                    Explorer 5.0
                                </td>
                                <td>Win 95+</td>
                                <td>Win 95+</td>
                                <td class="center">5</td>
                                <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                            </tr>
                            <tr class="gradeA">
                                <td><input type="checkbox" /></td>
                                <td>Trident</td>
                                <td>
                                    Internet
                                    Explorer 5.5
                                </td>
                                <td>Win 95+</td>
                                <td>Win 95+</td>
                                <td class="center">5.5</td>
                                <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/gst_js/jquery.min.js"></script>
<script src="~/Scripts/gst_js/jquery.ui.custom.js"></script>
<script src="~/Scripts/gst_js/bootstrap.min.js"></script>
<script src="~/Scripts/gst_js/jquery.uniform.js"></script>
<script src="~/Scripts/gst_js/select2.min.js"></script>

<script src="~/Scripts/gst_js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/gst_js/matrix.js"></script>
<script src="~/Scripts/gst_js/matrix.tables.js"></script>

<script src="~/Scripts/gst_js/jquery.validate.js"></script>
<script src="~/Scripts/gst_js/matrix.form_validation.js"></script>