
@{
    ViewBag.Title = "DailyAccount";
    Layout = "~/Views/Shared/_Gst_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/gst_css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/gst_css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/gst_css/matrix-style.css" />
<link rel="stylesheet" href="~/Content/gst_css/matrix-media.css" />
<link rel="stylesheet" href="~/Content/gst_css/uniform.css" />
<link rel="stylesheet" href="~/Content/gst_css/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Dashboard", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#">Daily Stock Account</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box" align="left">
                
                    <select style="width:250px">
                        <option>First option</option>
                        <option>Second option</option>
                        <option>Third option</option>
                    </select>
                
                <input type="text" name="search" placeholder="search..." id="required" />
                
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Daily Stock Account</h5> <span style="float:right"><button class="btn btn-info">Export</button></span>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Customer Name</th>
                                <th>HSN</th>
                                <th>Op Bal nos</th>
                                <th>Mfg Qty nos</th>
                                <th>Total Qty nos</th>
                                <th>Issued Qty for home consump</th>
                                <th>Cls Bal nos</th>
                                <th>Assesable Value</th>
                                <th>CGST</th>
                                <th>SGST</th>
                                <th>IGST</th>
                                <th>Invoice Remarks nos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeX">
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                
                            </tr>
                            <tr class="gradeC">
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                                <td>Trident</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/gst_js/jquery.min.js"></script>
<script src="~/Scripts/gst_js/jquery.ui.custom.js"></script>
<script src="~/Scripts/gst_js/bootstrap.min.js"></script>
<script src="~/Scripts/gst_js/jquery.uniform.js"></script>
<script src="~/Scripts/gst_js/select2.min.js"></script>

<script src="~/Scripts/gst_js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/gst_js/matrix.js"></script>
<script src="~/Scripts/gst_js/matrix.tables.js"></script>

<script src="~/Scripts/gst_js/jquery.validate.js"></script>
<script src="~/Scripts/gst_js/matrix.form_validation.js"></script>